<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <nav th:fragment="header"
         class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop"
                class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
        </button>

        <!-- Topbar Search -->
        <form
                class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
                <input type="text" class="form-control bg-light border-0 small"
                       placeholder="Buscar..." aria-label="Search"
                       aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form>

        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none"><a
                    class="nav-link dropdown-toggle" href="#" id="searchDropdown"
                    role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"> <i class="fas fa-search fa-fw"></i>
            </a> <!-- Dropdown - Messages -->
                <div
                        class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                        aria-labelledby="searchDropdown">
                    <form class="form-inline mr-auto w-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small"
                                   placeholder="Search for..." aria-label="Search"
                                   aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </li>


            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow"><a
                    class="nav-link dropdown-toggle" href="#" id="userDropdown"
                    role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"> <span
                    class="mr-2 d-none d-lg-inline text-gray-600 small" th:text="${session.userId}" >Username</span> <img class="img-profile rounded-circle"
                                                    src="https://cdn.jsdelivr.net/gh/Grupo-6-awakelab/cdnjs@main/userProfile.png">
            </a> <!-- Dropdown - User Information -->
                <div
                        class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                        aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#"> <i
                            class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> Perfil
                    </a> <a class="dropdown-item" href="#"> <i
                        class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i> Ajustes
                </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" data-toggle="modal"
                       data-target="#logoutModal"> <i
                            class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Logout
                    </a>
                </div>
            </li>

        </ul>

    </nav>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


    <ul th:fragment="sidebar"
            class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
            id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a
                class="sidebar-brand d-flex align-items-center justify-content-center"
                href="index.html">
            <div class="sidebar-brand-icon rotate-n-15">
                <div class="logo">
                    <img src="https://i.ibb.co/k9wdR2Y/mono-fw.png" alt="Logo corporativo">
                </div>
            </div>
            <div class="sidebar-brand-text mx-3">
		<span class="fs-4"><div class="col-3">
            <div class="logo">
                <img src="https://i.ibb.co/tx1v275/logo-mono-fw.png" alt="Logo corporativo" width="100">
            </div>
        </div></span>
            </div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active"><a class="nav-link" href="dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i> <span>Inicio</span>
        </a></li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">Menú</div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item"><a class="nav-link collapsed" href="#"
                                data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
                                aria-controls="collapseTwo"><i class="fa-solid fa-person-chalkboard"></i>
            <span>Capacitaciones</span></a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Acciones</h6>
                    <a class="collapse-item" href="/capacitacion/crear">Crear Capacitación</a> <a
                        class="collapse-item" href="/capacitacion">Admin. Capacitaciones</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Utilities Collapse Menu -->

        <li class="nav-item"><a class="nav-link collapsed" href="#"
                                data-toggle="collapse" data-target="#collapseUtilities"
                                aria-expanded="true" aria-controls="collapseUtilities"><i
                class="fa fa-users"></i></i> <span>Usuarios</span> </a>
            <div id="collapseUtilities" class="collapse"
                 aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Acciones:</h6>
                    <a class="collapse-item" href="/usuario/crear">Crear Usuario</a>
                    <a class="collapse-item" href="/usuario">Administrar Usuarios</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item"><a class="nav-link collapsed" href="#"
                                data-toggle="collapse" data-target="#collapsethree"
                                aria-expanded="true" aria-controls="collapsethree"><i
                class="fa-solid fa-chalkboard-user"></i> <span>Asesorias</span> </a>
            <div id="collapsethree" class="collapse"
                 aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Acciones:</h6>
                    <a class="collapse-item" href="/asesoria/crear">Crear </a>
                           <a class="collapse-item" href="/asesoria">Administrar
                        Asesorias</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item"><a class="nav-link collapsed" href="#"
                                data-toggle="collapse" data-target="#collapseFour"
                                aria-expanded="true" aria-controls="collapseFour"><i
                class="fa-solid fa-person-falling-burst"></i> <span>Accidentes</span>
        </a>
            <div id="collapseFour" class="collapse"
                 aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Acciones:</h6>
                    <a class="collapse-item" href="registraraccidente">Registrar
                        Accidente </a><a class="collapse-item" href="administraraccidente">Administrar
                            Accidentes</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item"><a class="nav-link collapsed" href="#"
                                data-toggle="collapse" data-target="#collapseFive"
                                aria-expanded="true" aria-controls="collapseFive"><i
                class="fa fa-plane"></i> <span>Visitas</span>
        </a>
            <div id="collapseFive" class="collapse"
                 aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Acciones:</h6>
                    <a class="collapse-item" href="crearvisitas">Registrar</a>
                        Visitas <a class="collapse-item" href="administrarvisita">Administrar
                            Visitas</a>
                </div>
            </div>
        </li>


        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading"></div>
        <!-- Nav Item - Charts -->
        <li class="nav-item"><a class="nav-link" href="contacto"><i
                class="fa fa-address-card"></i> <span>Contacto</span></a></li>

        <!-- Nav Item - Charts -->
        <li class="nav-item"><a class="nav-link collapsed" href="#"
                                data-toggle="collapse" data-target="#collapseSeven"
                                aria-expanded="true" aria-controls="collapseSeven"><i
                class="fa-solid fa-money-bill"></i> <span>Chequeos</span> </a>
            <div id="collapseSeven" class="collapse"
                 aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Acciones:</h6>
                    <a class="collapse-item" href="#">Registrar
                        Chequeos</a><a class="collapse-item" href="#">Listar
                            Chequeos</a>
                </div>
            </div>
        </li>

        <li class="nav-item"><a class="nav-link" href="#"><i
                class="fa-solid fa-flag"></i> <span>Reportes</span></a></li>
        <i></i>
        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item"><a class="nav-link collapsed" href="#"
                                data-toggle="collapse" data-target="#collapseSix"
                                aria-expanded="true" aria-controls="collapseSix"><i
                class="fa-solid fa-money-bill"></i> <span>Pagos</span> </a>
            <div id="collapseSix" class="collapse"
                 aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Acciones:</h6>
                    <a class="collapse-item" href="#">Registrar
                        Pagos</a><a class="collapse-item" href="#">Listar
                            Pagos</a>
                </div>
            </div>
        </li>


        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>


    </ul>
</div>
<footer th:fragment="footer" class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="text-center my-auto">
            <span>Copyright &copy; APR Asesorias en Prevención de Riesgos</span>
        </div>
    </div>
</footer>
</body>
</html>